.mymessage {
  display: flex;
  border-radius: 8px;
  max-width: max-content;
  padding: 10px;
  margin: 4px;
  list-style: none;
  margin-inline-start: auto;

  background: #1f73b7;
  color: #fff;
}
.theirmessage {
  display: flexbox;
  border-radius: 8px;
  max-width: fit-content;
  padding: 10px;
  margin: 4px;
  margin-inline-end: auto;
  background: #f3f3f3;
  color: #000;
}
.message:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.025);
}
.message__author {
  font-weight: 600;
  margin-right: 0px;
  color: rgba(0, 0, 0, 1);
}
