@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

.color-primary-0 {
  color: #3f52b5;
} /* Main Primary color */
.color-primary-1 {
  color: #8895dc;
}
.color-primary-2 {
  color: #5e6ec7;
}
.color-primary-3 {
  color: #2137aa;
}
.color-primary-4 {
  color: #132584;
}

:root {
  --mainBlue: #3f52b5;
  --lightBlue: #8895dc;
  --mainWhite: #f3f3f3;
  --mainDark: #132584;
  --mainYellow: #ffa400;
}

.rooto {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: uppercase;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.01rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
