/* font faces */
@font-face {
  font-family: "basefont-regular";
  src: local("basefont-regular"),
    url("./assets/fonts/circular/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: "basefont-medium";
  src: local("basefont-medium"),
    url("./assets/fonts/circular/CircularStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "basefont-bold";
  src: local("basefont-bold"),
    url("./assets/fonts/circular/CircularStd-Bold.otf") format("opentype");
}

/* typography styles */
.is-dark-text {
  color: rgb(67, 68, 86);
}

.is-dark-text-light {
  color: rgb(128, 145, 171);
}

.is-light-text {
  /* color: rgb(193, 204, 222); */
  color: rgb(255, 255, 255);
}

/* font weights */

.font-medium {
  font-family: "basefont-medium";
}

.font-bold {
  font-family: "basefont-bold";
}

/* text sizes */
.text-x-large {
  font-size: 2rem;
}

.text-large {
  font-size: 1.25rem;
}

.text-medium {
  font-size: 1.125rem;
}

.text-small {
  font-size: 0.875rem;
}

.text-x-small {
  font-size: 0.75rem;
}

/* letter spacing */
.letter-spacing {
  letter-spacing: 0.05rem;
}

.chart-container svg text {
  letter-spacing: 0.05rem;
}

/* Colors */

body {
  background: rgb(23, 32, 46) !important;
  font-family: "basefont-regular" !important;
  color: rgb(255, 255, 255);
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) and (max-device-width: 1824px) {
  body {
    padding: -50px;
  }

  .container-fluid {
    width: 95% !important;
  }

  /* navbar styles */
  .is-white {
    background: rgb(255, 255, 255);
    height: 65px;
  }

  .nav-auth-grid {
    padding: inherit;
  }

  .navbar-noauth-grid {
    justify-content: space-between;
  }

  .nav-noauth-grid-landing {
    align-self: center;
  }

  .nav-noauth-grid-signin {
    align-self: center;
  }

  .is-dark {
    background: rgb(19, 25, 36);
    height: 60px;
  }

  .grid-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.5rem;
    height: calc(100%);
    margin: 1%;
    min-width: max-content;
  }

  .chart-grid-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1%;
    height: calc(100%);
  }

  .temperature-header-chart {
    padding-top: 2%;
    padding-left: 0%;
    text-align: center;
  }

  .temperature-header-readings {
    padding-top: 2%;
    padding-left: 0%;
    text-align: center;
  }

  .readings-header-chart {
    padding-top: 1%;
    padding-left: 5%;
  }

  .container-chart {
    padding-top: 1%;
    height: 50%;
    width: 100%;
  }

  .chart {
    padding-top: 1%;
    height: 100%;
    width: 100%;
  }

  .readings-grid {
    padding-left: 2%;
    padding-top: 5%;
  }

  .card-value {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .temp-grid-card {
    min-width: max-content;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .readings-card-actualValue {
    padding-left: 0.2%;
  }

  .readings-card-headerValue {
    padding-left: 0.2%;
    margin-right: 0.2%;
    padding-top: 5%;
    padding-bottom: 5%;
    min-width: max-content;
    word-wrap: normal;
    text-align: center;
  }

  .setup-card-heading {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    min-height: 30px;
  }

  .setup-main-grid {
    align-content: center;
    padding-top: 5%;
    width: 1200;
  }

  .setup-time {
    align-content: top;
  }

  .setup-water {
    align-content: top;
  }

  .setup-temperature {
    align-content: top;
  }

  .buttons-container {
    padding-top: 5%;
  }

  .setup-button-card {
    padding: 5%;
    margin: 2%;
  }

  .table {
    width: 100%;
    /* min-width: max-content; */
    margin-bottom: 1rem;
    color: #212529;
  }

  .alarm-card {
    margin: 5%;
    padding: 5%;
  }

  .alarm-header {
    text-align: center;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 481px) and (max-device-width: 1023px) {
  body {
    padding: 0%;
  }

  .container-fluid {
    width: 95% !important;
  }

  /* navbar styles */
  .is-white {
    background: rgb(255, 255, 255);
    height: 65px;
  }

  .is-dark {
    background: rgb(19, 25, 36);
    height: 60px;
  }

  .grid-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.5rem;
    height: calc(100%);
    margin: 1%;
    min-width: max-content;
  }

  .chart-grid-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1%;
    height: calc(100%);
  }

  .temperature-header-chart {
    padding-top: 2%;
    padding-left: 0%;
    text-align: center;
  }

  .temperature-header-readings {
    padding-top: 2%;
    padding-left: 0%;
    text-align: center;
  }

  .readings-header-chart {
    padding-top: 1%;
    padding-left: 5%;
  }

  .container-chart {
    padding-top: 1%;
    height: 50%;
    width: 100%;
  }

  .chart {
    padding-top: 1%;
    height: 50%;
    width: 100%;
  }

  .readings-grid {
    padding-left: 12%;
    padding-top: 5%;
  }

  .card-value {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .temp-grid-card {
    min-width: max-content;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .readings-card-actualValue {
    padding-left: 0.2%;
  }

  .readings-card-headerValue {
    padding-left: 0.2%;
    margin-right: 0.2%;
    padding-top: 5%;
    padding-bottom: 5%;
    min-width: max-content;
    word-wrap: normal;
    text-align: center;
  }

  .setup-card-heading {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    min-height: 30px;
  }

  .setup-main-grid {
    align-content: center;
    padding-top: 5%;
    width: 1200;
  }

  .setup-time {
    align-content: top;
  }

  .setup-water {
    align-content: top;
  }

  .setup-temperature {
    align-content: top;
  }

  .buttons-container {
    padding-top: 5%;
  }

  .setup-button-card {
    padding: 5%;
    margin: 2%;
  }

  .table {
    width: 100%;
    /* min-width: max-content; */
    margin-bottom: 1rem;
    color: #212529;
  }

  .alarm-card {
    margin: 5%;
    padding: 5%;
  }

  .alarm-header {
    text-align: center;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container-fluid {
    width: 95% !important;
  }

  /* navbar styles */
  .is-white {
    background: rgb(255, 255, 255);
    height: 130px;
  }
  .img {
    margin-left: 50%;
  }

  .is-dark {
    background: rgb(19, 25, 36);
    height: 60px;
  }

  .grid-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    height: calc(100%);
    margin: 1%;
    min-width: fit-content;
  }

  .chart-grid-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1%;
    height: calc(100%);
  }

  .temperature-header-chart {
    padding-top: 2%;
    padding-left: 0%;
    text-align: center;
  }

  .temperature-header-readings {
    padding-top: 2%;
    padding-left: 0%;
    text-align: center;
  }

  .readings-header-chart {
    padding-top: 1%;
    padding-left: 5%;
  }

  .container-chart {
    padding-top: 1%;
    height: 100%;
    width: 100%;
  }

  .chart {
    padding-top: 1%;
    height: 100%;
    width: 100%;
  }

  .readings-grid {
    padding-left: 1%;
    padding-top: 5%;
  }

  .card-value {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .temp-grid-card {
    min-width: max-content;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .readings-card-actualValue {
    padding-left: 0.2%;
  }

  .readings-card-headerValue {
    padding-left: 0.2%;
    margin-right: 0.2%;
    padding-top: 5%;
    padding-bottom: 5%;
    min-width: max-content;
    word-wrap: normal;
    text-align: center;
  }

  .setup-card-heading {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    min-height: 30px;
  }

  .setup-main-grid {
    align-content: center;
    padding-top: 5%;
    width: 1200;
  }

  .setup-time {
    align-content: top;
  }

  .setup-water {
    align-content: top;
  }

  .setup-temperature {
    align-content: top;
  }

  .buttons-container {
    padding-top: 5%;
  }

  .setup-button-card {
    padding: 5%;
    margin: 2%;
  }

  .table {
    width: 100%;
    /* min-width: max-content; */
    margin-bottom: 1rem;
    color: #212529;
  }

  .alarm-card {
    margin: 5%;
    padding: 5%;
  }

  .alarm-header {
    text-align: center;
  }
}
