/* typography styles */
.is-dark-text {
  color: rgb(67, 68, 86);
}

.is-dark-text-light {
  color: rgb(128, 145, 171);
}

.is-light-text {
  /* color: rgb(193, 204, 222); */
  color: rgb(255, 255, 255);
}

@media only screen and (min-width: 1400px) and (max-device-width: 1824px) {
  body {
    background: rgb(23, 32, 46) !important;
    font-family: "basefont-regular" !important;
    color: rgb(255, 255, 255);
    padding: 2%;
    margin-top: 4%;
  }

  /* font weights */

  .font-medium {
    font-family: "basefont-medium";
  }

  .font-bold {
    font-family: "basefont-bold";
  }

  /* text sizes */
  .text-x-large {
    font-size: 5rem;
  }

  .text-large {
    font-size: 3rem;
  }

  .text-medium {
    font-size: 1.125rem;
  }

  .text-small {
    font-size: 1rem;
  }

  .text-x-small {
    font-size: 1rem;
  }

  /* letter spacing */
  .letter-spacing {
    letter-spacing: 0.05rem;
  }

  .chart-container svg text {
    letter-spacing: 0.05rem;
  }

  .container-signin {
    padding: 4%;
    margin: 22%;
    margin-top: 10%;
  }

  .container-landing {
    padding: 2%;
    margin: 16%;
    margin-top: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 900px; */
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    border: 1px solid rgb(63, 81, 181);
  }

  .container-signup {
    padding: 4%;
    margin-left: 22%;
    margin-top: 10%;
  }

  .container-forgot {
    padding: 4%;
    margin: 22%;
    margin-top: 10%;
  }

  .nav-img {
    padding-left: "1%";
    margin-top: "10%";
    margin-bottom: "0.15%";
    max-height: "100px";
    min-width: "200px";
  }

  .grjlkb img {
    vertical-align: bottom;
    border-style: none;
    height: 75px;
    width: 250px;
  }

  .OSanL ul {
    padding: 0.7%;
    margin: 0%;
    margin-top: 0%;
  }

  .link-project-noau {
    margin: 31%;
    margin-top: 40%;
  }

  .link-noau {
    margin-right: 0%;
  }

  .link-home {
    margin-top: 5px;
    margin-left: 234px;
  }

  .link-account {
    margin-top: 5px;
    margin-left: 255px;
  }

  .link-landing {
    margin-top: 5px;
    margin-left: 253px;
  }

  .signOutButton-canvas {
    background-color: white;
    border: 1;
    max-height: fit-content;
    width: fit-content;
    margin-top: 0%;
    margin: -4%;
    margin-left: 89%;
    padding-top: 0%;
    margin-bottom: 10px;
  }

  .signOutButton {
    width: 150px;
    height: 50px;
  }

  .signinLink {
    margin-left: 22%;
  }

  .container-account {
    margin-left: 18%;
    margin-top: 10%;
  }

  .container-account-card {
    margin-left: 5%;
    padding: 2%;
  }

  .container-password-change {
    margin-left: 5%;
    padding: 5%;
  }

  .user-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 900px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    border: 1px solid rgb(63, 81, 181);
  }

  .grjlkb ul {
    padding-top: 1% !important;
    padding-left: 10px;
    margin: 0%;
  }

  .menu-nav-ul {
    padding-top: 2% !important;
    padding-left: 10px;
    margin: 0%;
  }

  .menuNavAuth {
    padding-top: 0px !important;
  }

  .menu-nav-noauth {
    padding-top: 1rem !important;
    padding-left: 10px;
    margin: 0%;
  }
}

@media only screen and (min-width: 1024px) and (max-device-width: 1400px) {
  body {
    background: rgb(23, 32, 46) !important;
    font-family: "basefont-regular" !important;
    color: rgb(255, 255, 255);
    padding: 2%;
    margin-top: 3%;
  }

  /* font weights */

  .font-medium {
    font-family: "basefont-medium";
  }

  .font-bold {
    font-family: "basefont-bold";
  }

  /* text sizes */
  .text-x-large {
    font-size: 2rem;
  }

  .text-large {
    font-size: 4rem;
  }

  .text-medium {
    font-size: 2rem;
  }

  .text-small {
    font-size: 1rem;
  }

  .text-x-small {
    font-size: 0.75rem;
  }

  /* letter spacing */
  .letter-spacing {
    letter-spacing: 0.05rem;
  }

  .chart-container svg text {
    letter-spacing: 0.05rem;
  }

  .sigunp-title {
    margin: 1% !important;
  }

  .signup-text {
    width: 60%;
    margin-left: 20%;
    margin-top: 0% !important;
    margin-bottom: 1rem !important;
  }

  .container-signin {
    padding: 2%;
    margin: 7%;
    margin-top: 2%;
  }

  .container-signup {
    padding: 1%;
    margin: 10%;
    margin-top: 2%;
    width: 80%;
    height: 60%;
  }

  .container-landing {
    padding: 1%;
    margin: 3%;
    margin-top: 1%;
    border: 1px solid rgb(63, 81, 181);
  }

  .container-forgot {
    padding: 4%;
    margin: 22%;
    margin-top: 10%;
  }

  .container-account {
    margin-left: 18%;
    margin-top: 2%;
  }

  .container-account-card {
    width: 80%;
    height: 60%;
    margin-left: 0%;
    padding: 2%;
  }

  .container-password-change {
    width: 80%;
    height: 60%;
    margin-left: 0%;
    padding: 5%;
  }

  .readings-canvas {
    padding: 1%;
    margin: 3%;
  }

  .link-project-noau {
    margin-right: 20%;
    margin-left: 20%;
  }

  .link-noau {
    margin-right: 20%;
    margin-left: 20%;
  }

  .signinLink {
    margin-left: 7%;
  }

  .signOutButton {
    background-color: white;
    border: 1;
    max-height: fit-content;
    /* margin-top: 0.45%; */
    margin-right: 0%;
    width: 100px;
  }

  .nav-secondary {
    margin-top: 65px;
    box-shadow: 0px 2px 10px #0000006e;
  }

  .link-project-noau {
    margin-left: 34%;
    margin-top: 0%;
  }

  .link-noau {
    margin-right: 0%;
  }

  .nav-img {
    padding-left: "1%";
    margin-top: "10%";
    margin-bottom: "0.15%";
    max-height: "100px";
    width: "12%" !important;
  }

  .link-home {
    margin-top: 5px;
    margin-left: 234px;
  }

  .link-account {
    margin-top: 5px;
    margin-left: 255px;
  }

  .link-landing {
    margin-top: 5px;
    margin-left: 253px;
  }

  .signOutButton-canvas {
    background-color: white;
    border: 1;
    max-height: fit-content;
    width: fit-content;
    margin-top: 0%;
    margin: -4%;
    margin-left: 91%;
    padding-top: 1%;
    margin-bottom: 1%;
  }

  .signOutButton {
    width: fit-content;
    height: fit-content;
  }

  .grjlkb {
    border-bottom: 2px solid #3f52b5;
    margin: 0%;
    background-color: white;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: start;
    width: 100%;
    height: 60px;
    padding-top: 0.25% !important;
  }

  /* user image style */
  .img-container > img {
    width: 40px;
  }

  .grid-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.5rem;
    height: calc(100%);
    border: 1px solid rgb(63, 81, 181);
  }
  .user-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    border: 1px solid rgb(63, 81, 181);
  }
}

body {
  background: rgb(23, 32, 46) !important;
  font-family: "basefont-regular" !important;
  color: rgb(255, 255, 255);
  padding: 0%;
  margin: 0%;
}

.container-fluid {
  width: 95% !important;
}

/* navbar styles */
.is-white {
  background: rgb(255, 255, 255);
  height: 65px;
}

.is-dark {
  background: rgb(19, 25, 36);
  height: 60px;
}

.menu-nav-ul {
  padding-top: 0rem !important;
  padding-left: 10px;
  margin: 0%;
}

.menuNavAuth {
  padding-top: 0px !important;
}

.menu-nav-noauth {
  padding-top: 1rem !important;
  padding-left: 10px;
  margin: 0%;
}

.nav-secondary {
  margin-top: 65px;
  box-shadow: 0px 2px 10px #0000006e;
}

/* user image style */
.img-container > img {
  width: 40px;
}

.grid-card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.5rem;
  height: calc(100%);
  border: 1px solid rgb(63, 81, 181);
}
.user-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  border: 1px solid rgb(63, 81, 181);
}

.is-card-dark {
  background: rgb(32, 42, 59) !important;
}

.logo-adjust {
  margin-top: -4px;
}

.col-md-8.border-left {
  border-left: 1px solid rgba(222, 226, 230, 0.07) !important;
}

.fab {
  color: rgb(255, 255, 255);
  opacity: 0.6;
}

.conv > span {
  display: inline-block;
  min-width: 75px !important;
}

.chart-container > * {
  height: 100% !important;
}

.full-height.border-left,
.full-height.border-right {
  border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.custom-dropdown {
  border-radius: 4px;
  background: transparent;
  border: 1px solid rgba(193, 204, 222, 0.2);
  font-family: "basefont-regular";
}

.Dropdown-menu {
  max-height: 300px;
}

.Dropdown-control {
  border: none;
  color: #c1ccde;
  background: transparent;
}

.Dropdown-arrow {
  top: 18px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container-fluid {
    width: 95% !important;
  }

  /* font weights */

  .font-medium {
    font-family: "basefont-medium";
  }

  .font-bold {
    font-family: "basefont-bold";
  }

  /* text sizes */
  .text-x-large {
    font-size: 2rem;
  }

  .text-large {
    font-size: 1.25rem;
  }

  .text-medium {
    font-size: 1.125rem;
  }

  .text-small {
    font-size: 0.875rem;
  }

  .text-x-small {
    font-size: 0.75rem;
  }

  /* letter spacing */
  .letter-spacing {
    letter-spacing: 0.05rem;
  }

  .menuNav {
    padding-left: 0%;
    padding-bottom: 3%;
  }

  .OSanL ul {
    padding: 0%;
    margin: 0%;
  }

  .link {
    margin: 30%;
  }

  .signOutButton-canvas {
    margin-bottom: 2%;
  }

  .link-project-noau {
    margin-right: 0%;
  }

  .signinLink {
    margin-left: 10%;
  }

  .container-signin {
    width: 300px;
    display: inline-flex;
    margin: 20px;
    padding: 3%;
  }

  .container-landing {
    padding: 1%;
    margin: 2%;
    margin-top: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 900px; */
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    border: 1px solid rgb(63, 81, 181);
  }

  .fyLvdv {
    border-bottom: 2px solid #3f52b5;
    margin: 0%;
    background-color: white;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    width: 100%;
    height: fit-content;
  }
}

.iVBHjs {
  border-bottom: 2px solid #3f52b5;
  margin: 0%;
  padding: 0%;
  background-color: white;
  font-family: monospace;
}

.fELhAM a {
  display: flex;
  justify-content: space-between;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 20px;
  margin-top: auto;
  color: #3f52b5;
}

.color-primary-0 {
  color: #3f52b5;
} /* Main Primary color */
.color-primary-1 {
  color: #8895dc;
}
.color-primary-2 {
  color: #5e6ec7;
}
.color-primary-3 {
  color: #2137aa;
}
.color-primary-4 {
  color: #132584;
}
